* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  :root {
    --primary: #3F334D;
    --secondary: #574B60;
    --grey: #222222;
    --contrast: #EAF0CE;
    --high-contrast: #f6f8eb;
  }
  main{
    background-color: var(--primary);
    color: var(--high-contrast);
  }
  .header-container{
    display:flex;
    justify-content: center;
  }
  .navbar-nav{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  .navbar-nav *:hover,
  .project-repo h3:hover{
    background-color: var(--secondary);
    transform: scale(1.2);
    }
  .container {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .about-container{
    margin: 50px;
    width: 80vw;
    max-width: 565px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .project-container h2{
    text-align: center;
  }
  .projects{
    width: 100%;
    background-color: var(--secondary);
    border: 5px solid var(--grey);
    box-shadow: black 5px 5px 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 15px 0px;
  }
  .project-items *,
  .repo-items *{
    color: var(--high-contrast);
  }
  .project-repo{
    padding: 20px;
  }
  img{
    border: 5px solid #222222;
    max-width: 98%;
    max-height: 500px;
  }
  .contact-container{
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .form-container{
    margin: 25px 0px;
    display: flex;
    justify-content: center;
  }
  .form{
    display: flex;
    flex-direction: column;
  }
  .my-info-container{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .footer-container{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
  }
  