* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .main{
    background-color: #3F334D;
    color: #EAF0CE;
  }
  .container{
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  .nav-items{
    width: 80vw;
    display: flex;
    justify-content: space-evenly
  }
  .about-container{
    width: 80vw;
    display:flex;
    align-items: center;
    flex-direction: column;
  }
  .project-container h2{
    text-align: center;
  }
  .projects{
    width: 100%;
    background-color: #574B60;
    border: 5px solid #222222;
    box-shadow: black 5px 5px 10px;
    padding: 5px;
    display: flex;
    margin: 15px 0px;
  }
  .project-items{
    width: 50%;
  }
  a {
    text-decoration: none;
}
  .project-items *,
  .repo-items *{
    color:#f6f8eb;
  }
  img{
    border: 5px solid #222222;
    max-width: 100%;
    align-items: end;
  }
  